body.dark-mode{
    background-color: #121212;
    color: #fffff0
}

body.light-mode{
    background-color: #fffff0;
    color:#121212;
}

#heading{
    display: flex;
}

#tracker-heading{
    width: 50%;
}

#mode-btns{
    width: 50%;
}